 

body {
background-color:  lightblue;
}



.container {
background-color: white;
border-radius: 100%;
height: 260px;
width: 260px;
margin: 60px auto;
}

h1 {
color: black;
font-family: "Arial",sans-serif;
font-size: 100px;
font-weight: 400;
position: relative;
top: -90%;
}

.red {
border: 10px solid red;
border-radius: 100%;
height: 215px;
width: 215px;
position: relative;
top: 12px;
}


.pole {
border-left: 10px solid silver;
height: 250px;
margin-left: 50%;
position: relative;
top: -87%;
z-index: 10000;
}